{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
  <title>{% block title %}{% endblock %}</title>
  
  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">

  {% if not is_popup and is_nav_sidebar_enabled %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
    <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
  {% endif %}
  
  {% block extrastyle %}{% endblock %}
  
  {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">
  {% endif %}
  
  {% block extrahead %}{% endblock %}
  
  {% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">

    {% if LANGUAGE_BIDI %}
      <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">
    {% endif %}
  {% endblock %}

  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">
  
  {% if not is_popup %}
    <!-- Header -->
    {% block header %}
    <div id="header">
      <div id="branding">
        {% block branding %}{% endblock %}
      </div>

      {% block usertools %}
        {% if has_permission %}
          <div id="user-tools">
            <!-- Profile -->
            <div class="dropdown">
              <button class="dropbtn"> 
                <i class="fa-solid fa-user"></i>
              </button>

              <div class="dropdown-content">
                <div>
                  <p>
                    <i class="fa-solid fa-user fa-5x"></i>
                  </p>
                  
                  {% block welcome-msg %}
                    <p class="pt-10">{{ user.get_username }}</p>
                    <p>{{ user.get_full_name }}</p>
                  {% endblock %}
                </div>

                  {% block userlinks %}
                    {% if site_url %}
                    <div>
                      <a href="{{ site_url }}">
                        <i class="fa-solid fa-globe ml-5"></i>
                        {% translate 'View site' %} 
                      </a>
                    </div>  
                    {% endif %}

                    {% if user.is_active and user.is_staff %}
                      {% url 'django-admindocs-docroot' as docsroot %}
                      {% if docsroot %}
                      <div>
                        <a href="{{ docsroot }}">
                          <i class="fa-solid fa-book ml-5"></i>
                          {% translate 'Documentation' %}
                        </a>
                      </div>
                      {% endif %}
                    {% endif %}

                    {% if user.has_usable_password %}
                    <div>
                      <a href="{% url 'admin:password_change' %}">
                      <i class="fa-solid fa-lock ml-5"></i>
                      {% translate 'Change password' %}
                      </a>
                    </div>
                    {% endif %}

                    <div>
                      <a href="{% url 'admin:logout' %}">
                        <i class="fa-solid fa-right-from-bracket ml-5"></i>
                        {% translate 'Log out' %}
                      </a>
                    </div>
                  {% endblock %}
              </div>
            </div>
            <!-- ./Profile -->

            <!-- Notification -->
            <div class="dropdown">
              <button class="dropbtn"> 
                <i class="fa-solid fa-bell fa-shake" style="--fa-animation-duration: 3s;"></i>
              </button>

              <div class="dropdown-content">
                <div>
                  <p>
                    <i class="fa-solid fa-calendar-check fa-5x"></i>
                  </p>
                  <p class="pt-10">زمان باقی مانده ۳۰ روز</p>
                </div>
                
                <div class="report">
                  <i class="fa-solid fa-handcuffs ml-5"></i>
                  <span>محکوم به حبس: </span>
                  <span>5 نفر</span>
                </div>

                <div class="report">
                  <i class="fa-solid fa-sack-dollar ml-5"></i>
                  <span>پایان جنبه عمومی: </span>
                  <span>7 نفر</span>
                </div>
              </div>
            </div>
            <!-- ./Notification -->
            
            <!-- Report -->
            <div class="dropdown">
              <button class="dropbtn"> 
                <i class="fa-solid fa-chart-pie"></i>
              </button>

              <div class="dropdown-content">
                <div>
                  <p>
                    <i class="fa-solid fa-chart-pie fa-5x"></i>
                  </p>
                  <p class="pt-10">خلاصه آمار پرونده‌ها</p>
                </div>

                <div class="report"> 
                  <i class="fa-solid fa-sack-dollar ml-5"></i>
                  <span>محکوم رد مال: </span>
                  <span>3 نفر</span>
                </div>

                <div class="report"> 
                  <i class="fa-solid fa-person-running ml-5"></i>
                  <span>محکوم متواری: </span>
                  <span>7 نفر</span>
                </div>

                <div class="report">
                  <i class="fa-solid fa-handcuffs ml-5"></i>
                  <span>محکوم به حبس: </span>
                  <span>5 نفر</span>
                </div>

                <div class="report"> 
                  <i class="fa-solid fa-book ml-5"></i>
                  <span>پرونده ثبت شده: </span>
                  <span>30 نفر</span>
                </div>
              </div>
            </div>
            <!-- ./Report -->
          </div>
        {% endif %}
      {% endblock %}
      
      {% block nav-global %}{% endblock %}
    </div>
    {% endblock %}
    <!-- END Header -->
  {% endif %}
  
  <!-- Main -->
  <div class="main" id="main">
    {% if not is_popup and is_nav_sidebar_enabled %}
      {% block nav-sidebar %}
        {% include "admin/nav_sidebar.html" %}
      {% endblock %}
    {% endif %}

    <div class="content">
      <!-- Breadcrumb -->
      {% block breadcrumbs %}
      <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
      </div>
      {% endblock %}
      <!-- ./Breadcrumb -->
      {% block messages %}
        {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      {% endblock messages %}

        <!-- Content -->
        <div id="content" class="{% if user.get_username %}dash{% endif %} {% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}

          {% block content_title %}
            {% if title %}
              <h1>{{ title }}</h1>
            {% endif %}
          {% endblock %}

          {% block content_subtitle %}
            {% if subtitle %}
              <h2>{{ subtitle }}</h2>
            {% endif %}
          {% endblock %}

          {% block content %}
            {% block object-tools %}{% endblock %}
              {{ content }}
          {% endblock %}

          <!-- Sidebar -->
          {% block sidebar %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        
        <!-- Footer -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </div>
    </div>
  </div>
  <!-- END Container -->
</body>
</html>
