@font-face {
    font-family: "Vazir";
    src: url(../fonts/vazir/Vazir-Regular-FD.eot);
    src: url(../fonts/vazir/Vazir-Regular-FD.eot?) format('embedded-opentype'),
    url(../fonts/vazir/Vazir-Regular-FD.woff) format('woff'),
    url(../fonts/vazir/Vazir-Regular-FD.woff2) format('woff2'),
    url(../fonts/vazir/Vazir-Regular-FD.ttf) format('truetype');
}

/* Persian font */
* {
    font-family: "Vazir" !important;
}